<center>
<form method="post" action="/answers">
  <label> Enter Answer Here </label> <br>
  <textarea rows="4" cols="50">
  </textarea> <br>
  <input type= "submit" value= "submit"> <br>
</form>

</center>
